<footer class="family-secondary support content">
  <p class="pb-8">
    Modifications &copy; Carl Guo 2023 & Tianyu Zhang 2021. Original source &copy; R. Miles McCain 2020. 
    Content is licensed <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a>, a Free Culture License.
    The <a href="https://github.com/milesmcc/personal">modified</a> and <a href="https://github.com/milesmcc/personal">original</a> source codes are available under <a href="https://github.com/milesmcc/personal/blob/master/LICENSE">GPLv3</a>.
  </p>
</footer>
