<footer class="family-secondary support content">
  <p class="pb-2">
    This site is a migration from my <a href="https://old.tianyuz.com" target="_blank">old personal page</a> and is still under active construction. - Jan 2021
  </p>
  <p class="pb-8">
    Modifications &copy; Tianyu Zhang 2021. Original source &copy; R. Miles McCain 2020. 
    Content is licensed <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a>, a Free Culture License.
    The <a href="https://github.com/milesmcc/personal">source code</a> is available under <a href="https://github.com/milesmcc/personal/blob/master/LICENSE">GPLv3</a>.
  </p>
</footer>
